/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #ffd700; /* Dorado */
    margin-bottom: 20px;
}

/* Resumen Styles */
.resumen {
    text-align: center;
    background-color: #333;
    color: #ffd700;
    padding: 15px;
    margin-top: 20px;
    border-radius: 5px;
    font-weight: bold;
}

/* Resultados Styles */
#resultados {
    margin-top: 20px;
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 8px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    color: #ffd700; /* Dorado para texto */
}

table, th, td {
    border: none;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #333;
    color: #ffd700;
    font-weight: bold;
    text-transform: uppercase;
}

tr {
    border-bottom: 1px solid #666;
}

tr:last-child {
    border-bottom: none;
}

tr:hover {
    background-color: #444;
}

/* Key y Nombre */
th:nth-child(1), td:nth-child(1) {
    color: #ffd700;
    font-weight: bold;
}

th:nth-child(2), td:nth-child(2) {
    color: #fff;
}
#categorias table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #1a1a1a;
    color: #ffd700;
}

#categorias th, #categorias td {
    padding: 12px;
    text-align: left;
}

#categorias th {
    background-color: #333;
    font-weight: bold;
    text-transform: uppercase;
}

#categorias tr {
    border-bottom: 1px solid #666;
}

#categorias tr:last-child {
    border-bottom: none;
}

#categorias tr:hover {
    background-color: #444;
}