body {
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    color: #ddd;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #ffd700;
}

#filtros {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px;
    border-radius: 8px;
    background-color: #2b2b2b;
}

#filtros label {
    color: #ffd700;
}

#filtros input, #filtros select, #filtros button {
    background-color: #333;
    color: #ddd;
    margin: 5px;
    border: 1px solid #555;
    border-radius: 4px;
}

#filtros select[multiple] {
    height: 120px;
}

.tabs {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.tab-button {
    background-color: #333;
    color: #ffd700;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
}

.tab-button.active {
    background-color: #ffd700;
    color: #333;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

#resultadosTab, #categoriasTab {
    background-color: #2b2b2b;
    padding: 15px;
    border-radius: 8px;
    margin-top: 20px;
}

table {
    width: 100%;
    color: #ffd700;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    border: 1px solid #666;
    text-align: left;
}

tr:nth-child(even) td {
    background-color: #2a2a2a;
}

tr:nth-child(odd) td {
    background-color: #222;
}

tr:hover td {
    background-color: #444;
    color: #ffd700;
}

td {
    color: #ddd;
}

select[multiple] {
    height: 120px;
}

button[type="reset"], button[type="submit"] {
    background-color: #444;
    color: #ddd;
    border: 1px solid #666;
    border-radius: 4px;
    padding: 8px 16px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

button[type="reset"]:hover, button[type="submit"]:hover {
    background-color: #555;
    color: #ffd700;
}

#resumen {
    background-color: #2b2b2b;
    padding: 15px;
    border-radius: 8px;
    margin-top: 20px;
}
.remove-filter {
    background-color: transparent;
    color: #ff4c4c;
    border: none;
    cursor: pointer;
    font-size: 14px;
    margin-left: 5px;
}

.remove-filter:hover {
    color: #ff1a1a;
}
.cinta-resumen {
    background-color: #ffd700; /* Color dorado */
    padding: 10px;
    margin: 10px 0;
    color: #1a1a1a; /* Texto oscuro para contraste */
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
}

.cinta-resumen div {
    text-align: center;
    margin: 5px;
}